extends ../_layouts/home

block content
  .main-content
    .container.f-r
      
      .product-card.six
          .image
            img(src="http://lorempixel.com/800/800/abstract/1")
              
          .content.f-ctr.f-end.f-c
            h3
              | Best Seller Product.
            a.btn.btn-ghost-black(href="#")
              | View Details
      .product-card.six
          .image
            img(src="http://lorempixel.com/800/800/abstract/2")
          .content.f-ctr.f-end.f-c
            h3
              | Inspiration.
            a.btn.btn-ghost-black(href="#")
              | View Details
    .current-promo
      .container
        a(href="#")
          img(src="img/24-10-2017-xmas-2280x350-desktop.jpg")
    .list-product          
      .container.f-c
        .head-content
          h3
            | Trending Right Now.
        .inner
          ul.product.f-r
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/3")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                    | Sample
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | mail_outline
                    | Order
                  
              .content
                h4
                  | X-Banner
                span
                  | From Rp. 120.000

            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/4")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                    | Sample
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | mail_outline
                    | Order
                  
              .content
                h4
                  | Backdrop
                span
                  | From Rp. 60.000
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/6")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                    | Sample
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | mail_outline
                    | Order
                  
              .content
                h4
                  | Kaos
                span
                  | From Rp. 120.000

            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/5")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                    | Sample
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | mail_outline
                    | Order
                  
              .content
                h4
                  | Brosur
                span
                  | From Rp. 10.000
