@import "includes/base";
@import "block/header";
@import "block/footer";
header {
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 60px;
    margin-top: 180px;
  }
}
.bg-img{
  width: 100%;
  min-height: 100%;
  background-color: black;
  // background-image: url('../img/city.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(26, 30, 48, 0.7);
    z-index: 2;
  }
  img {
    width: initial;
    position: absolute;
    transition: 7.5s ease;
    transition-property: transform;
  }
}
.quote {
  margin: 80px 0;
  font-family: "Source Serif Pro";
  font-size: 20px;
  display: block;
  max-width: 90%;
  font-weight: 600;
  position: relative;
  &::before{
    content: "\201c";
    position: absolute;
    font-size: 90px;
    top: -115%;
    opacity: .3;
  }
  &::after{
    content: attr(person);
    position: absolute;
    right: 35px;
    bottom: -50%;
    font-size: 14px;
  }
}
.main-content{
  // margin: 20px 0;
  background: #fff;
  // padding: 20px 0;
  padding-top: 0;
  min-height: 80vh;
  position: relative;
  &.has-bg::before{
    content: '';
    background-image: url('../img/city.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about {
    padding: 0 40px;
    padding-left: 0;
    &.full
    p {
      margin-top: 0;
    }
    span {
      margin-bottom: 40px;
    }
    h1 {
      font-size: 5em;
      color: #1d1f28;
      margin-bottom: 0;
      font-family: "Roboto";
    }
    span {
      font-size: 24px;
      margin-top: -10px;
      display: block;
    }
    p {
      font-family: "Roboto";
      font-size: .938em;
      line-height: 2em;
      color: #808080;
      max-width: 85%;
      text-align: justify;
      margin-top: 40px;
    }
  }

  & > .container {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.product-card {
  position: relative;
  height: 440px;
  // margin: 10px;
  // width: calc(50% - 20px);
  overflow: hidden;
  .image, img{
    width: 100%;
  }
  img {
    transition: transform 8s linear;
  }
  &:hover .image::after{
    opacity: .6;
  }
  &:hover .image img {
    transform: scale(1.2);
  }
  .image {
    position: absolute;
    z-index: 0;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: rgba(#000, .7);
      opacity: 1;
      transition: transform .3s ease, opacity .2s ease;
    }
  }

  .content{
    z-index: 2;
    padding: 40px 40px;
    height: 100%;
    position: inherit;
  }
  h3 {
    font-family: "Source Serif Pro";
    font-size: 2.25em;
    color: white;
    letter-spacing: 1px;
    margin: 5px;
  }
}
.list-product {
  .head-content {
    overflow: hidden;
    padding: 0 20px;
    h3 {
      font-family: "Source Serif Pro";
      font-size: 1.65em;
      position: relative;
      background: white;
      color: #333;
      text-align: center;
    }
  }
  ul.product {
    padding: 0;
    margin: 0;
    li{
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
  .content {
    h4 {
      margin: 20px 0 8px;
      line-height: 0;
      font-weight: 400;
    }
    span {
      font-weight: 800;
      color: #a72323;
    }
  }
  .images {
    position: relative;
    display: grid;
    // border: solid 3px #ff9800;
    &:hover .action {
      display: flex;
    }
    .action {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;
      i {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
      }
      a{
        width: 50%;
        opacity: .7;
        text-decoration: none;
        color: white;
        background: rgba(0,0,0,.6);
        font-weight: 400;
        font-size: .875em;
        &:hover{
          background: rgba(0,0,0,.8);
          opacity: .9;
        }
      }

    }
  }
  img {
    width: 100%;
  }

}
.current-promo .container{
  padding: 0 10px;
  margin-top: 10px;
}
.section-about{
  .text{
    width: 60%;
    h1{
      font-family: "Source Serif Pro";
      font-size: 4em;
      color: black;
    }
    p{
      font-size: 1em;
      line-height: 2em;
    }
  }
  .image{
    width: 40%;
  }
}
.box-menu{
  position: relative;
  cursor: pointer;
  border: solid transparent 1px;
  &.nt{
    border-top: none;
  }
  &.nb{
    border-bottom: none;
  }
  &.no-pointer{
    cursor: default;
  }
  &.h-small{
    min-height: 200px;
    height: calc((100vh - 116px) * 25/100);

  }
  &.h-big{
    min-height: 300px;
    height: calc((100vh - 116px) * 50/100);
  }
  &.w-small{
    width: 20%;
  }
  &.w-big{
    width: 40%;
  }
  &.full{
    width: 100%;

  }
  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(#1d1f28, .95);
    &.blue{
      background-color: #03a2e0
    }
    &.red{
      background-color: #d61968;
    }
    &.magenta{
      background-color: #af1685;
    }
    &.green{
      background-color: #8cc73f;
    }
  }

  .content{
    z-index: 2;
    position: relative;
    padding: 20px 30px;
  }
  h3,p {
    color: white;
    margin: 0;
  }
  h3{
    font-size: 2em;
    margin: 0;
    line-height: 1;
    font-weight: 300;
  }
  p{
    font-size: .938em;
    font-weight: 300;
    margin-bottom: 50px;
  }

}
.product-service{
  margin-top: 40px;
  .not-found {
    text-align: center;
    width: 100%;
    display: none;
  }
  ul {
    padding: 0;
    margin: 0;
    width: calc(100% + 30px);
    margin-left: -15px;
  }
  li {
    width: calc(25% - 30px);
    position: relative;
    margin: 15px;
    // &:nth-child(4n+1){
    //   margin-left: 0;
    // }
    // &:nth-child(4n){
    //   margin-right: 0;
    // }
  }
  .search-box {
    position: relative;
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 13px 45px;
      font-family: "Roboto";
      font-size: 14px;
      border: solid 1px #d7d7d7;
      &:focus {
        outline: none;
        border: solid 1px $sub-1;
      }
    }
    i {
      position: absolute;
      top: 0;
      margin-top: 10px;
      left: 0;
      margin-left: 10px;
    }
  }

  .images {
    width: 100%;
    min-height: 250px;
    background-color: #ebebeb;
  }
  .content{
    z-index: 2;
    // position: absolute;
    bottom: 0;
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    // background: rgba(black, .5);
    // color: white;
    h4{
      margin: 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 15px;
      // letter-spacing: 1px;
      line-height: 1;
      // text-decoration: underline;
      cursor: pointer;
      color: $primary;
    }
    span {
      font-size: 13px;
      font-weight: 400;
      font-family: "Roboto";
    }
  }
}
.form-contact {
  margin-bottom: 70px;
  padding: 0 20px;
  padding-left: 0;


}
.maps-container{
  padding: 0 40px;
  padding-right: 0;
  width: 100%;
  height: 100%;
  #maps{
    background-color: $primary;
    height: 100%;
    width: 100%;
    position: relative;
  }
}
.other-contact {
  ul {
    margin: 0;
    padding: 0;
    li{
      padding: 10px 0;
    }
    i {
      width: 50px;
      text-align: center;
      &.socicon-instagram {
        font-size: 20px;
      }

    }

    p {
      margin: 0;
      padding-left: 10px;
    }
  }
}
.c-six.mdl h1 {
  margin-top: 0;
}
span#disclaimer {
  font-family: "Roboto";
  font-size: .875em;
  display: block;
  margin-top: 20px;
  text-align: right;
  font-style: italic;
}
@media screen and (max-width: 1025px){
  .container{
    max-width: 920px;
  }
  .c-six, .four {
    width: 50%
  }
  .main-content .about h1 {
    font-size: 4em!important;
  }
  .product-service .images {
    min-height: 200px;
  }
  .main-content .about p{
    max-width: 100%;
  }
}
