@import "includes/base";
@import "block/header";
@import "block/footer";
header {
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 60px;
    margin-top: 180px;
  }
}
.main-content{
  // margin: 20px 0;
  background: #fff;
  // padding: 20px 0;
  padding-top: 0;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about {
    padding: 0 40px;
    padding-left: 0;
    h1 {
      font-size: 5em;
      color: #1d1f28;
      margin-bottom: 0;
      font-family: "Roboto";
    }
    span {
      font-size: 24px;
      margin-top: -10px;
      display: block;
    }
    p {
      font-family: "Roboto";
      font-size: .938em;
      line-height: 2em;
      color: #808080;
      max-width: 85%;
      text-align: justify;
      margin-top: 40px;
    }
  }

  & > .container {
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.product-card {
  position: relative;
  height: 440px;
  // margin: 10px;
  // width: calc(50% - 20px);
  overflow: hidden;
  .image, img{
    width: 100%;
  }
  img {
    transition: transform 8s linear;
  }
  &:hover .image::after{
    opacity: .6;
  }
  &:hover .image img {
    transform: scale(1.2);
  }
  .image {
    position: absolute;
    z-index: 0;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: rgba(#000, .7);
      opacity: 1;
      transition: transform .3s ease, opacity .2s ease;
    }
  }

  .content{
    z-index: 2;
    padding: 40px 40px;
    height: 100%;
    position: inherit;
  }
  h3 {
    font-family: "Source Serif Pro";
    font-size: 2.25em;
    color: white;
    letter-spacing: 1px;
    margin: 5px;
  }
}
.list-product {
  .head-content {
    overflow: hidden;
    padding: 0 20px;
    h3 {
      font-family: "Source Serif Pro";
      font-size: 1.65em;
      position: relative;
      background: white;
      color: #333;
      text-align: center;
    }
  }
  ul.product {
    padding: 0;
    margin: 0;
    li{
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
  .content {
    h4 {
      margin: 20px 0 8px;
      line-height: 0;
      font-weight: 400;
    }
    span {
      font-weight: 800;
      color: #a72323;
    }
  }
  .images {
    position: relative;
    display: grid;
    // border: solid 3px #ff9800;
    &:hover .action {
      display: flex;
    }
    .action {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;
      i {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
      }
      a{
        width: 50%;
        opacity: .7;
        text-decoration: none;
        color: white;
        background: rgba(0,0,0,.6);
        font-weight: 400;
        font-size: .875em;
        &:hover{
          background: rgba(0,0,0,.8);
          opacity: .9;
        }
      }

    }
  }
  img {
    width: 100%;
  }

}
.current-promo .container{
  padding: 0 10px;
  margin-top: 10px;
}
.section-about{
  .text{
    width: 60%;
    h1{
      font-family: "Source Serif Pro";
      font-size: 4em;
      color: black;
    }
    p{
      font-size: 1em;
      line-height: 2em;
    }
  }
  .image{
    width: 40%;
  }
}
.box-menu{
  position: relative;
  cursor: pointer;
  border: solid white 1px;
  &.nt{
    border-top: none;
  }
  &.nb{
    border-bottom: none;
  }
  &.no-pointer{
    cursor: default;
  }
  &.h-small{
    height: 200px;
  }
  &.h-big{
    height: 400px;
  }
  &.w-small{
    width: 20%;
  }
  &.w-big{
    width: 40%;
  }
  &.full{
    width: 100%;

  }
  .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #1d1f28;
    &.blue{
      background-color: #03a2e0
    }
    &.red{
      background-color: #d61968;
    }
    &.magenta{
      background-color: #af1685;
    }
    &.green{
      background-color: #8cc73f;
    }
  }

  .content{
    z-index: 2;
    position: relative;
    padding: 20px 30px;
  }
  h3,p {
    color: white;
    margin: 0;
  }
  h3{
    font-size: 2em;
    margin: 0;
    line-height: 1;
    font-weight: 300;
  }
  p{
    font-size: .938em;
    font-weight: 300;
    margin-bottom: 50px;
  }

}
.product-service{
  margin-top: 40px;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    width: calc(25% - 2px);
    position: relative;
    margin: 1px;
  }
  .images {
    width: 100%;
    min-height: 250px;
    background-color: $primary;
  }
  .content{
    z-index: 2;
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 100%;
    background: rgba(black, .5);
    color: white;
    h4{
      margin: 0;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 1;
    }
    span {
      font-size: 12px;
      font-weight: 400;
      font-family: "Roboto";
    }
  }
}
