doctype html
html
  head
    title= title 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    block meta
      title Reverse Project &mdash; Official Website
      meta(name="description" content="Ara Design")

      meta(name="twitter:card" value="summary")

      meta(property="og:title" content="Ara Design")
      meta(property="og:type" content="website")
      meta(property="og:url" content="")
      meta(property="og:image" content="")
      meta(property="og:description" content="Reverse Project &mdash; Official Website")
    block head_end
      link(rel="stylesheet" href="/css/style.css")
      link(rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8") 
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	
  body 

    include ../_partials/main_menu_dashboard
    .banner-dashboard
      img.banner-img(src="img/city.jpg")
      .f-ctr.mdl
        h2
          | Admin Panel
  		
    block content
    
    include ../_partials/footer

    script(type="text/javascript" src="/js/script.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgxfNSekdsJLW7iJSemKkGptQmuERfVA&extension=.js")
    script(type="text/javascript" src="https://cdn.mapkit.io/v1/infobox.js")
    link(rel="stylesheet" href="https://cdn.mapkit.io/v1/infobox.css")
    script(type="text/javascript" src="/js/maps.js")
    
