.main-header {
  border-bottom: solid 1px #d7d7d7;
  // padding: 5px 0;
  position: relative;
  z-index: 100;
  background: white;
  .container{
    background: white;
    padding: 0;
  }
  .logo a > img {
    width: auto;
    max-width: 78px;
  }
  .logo a{
    text-decoration: none;

  }
  .logo h2{
    font-family: 'Source Serif Pro', Arial, sans-serif;
    color: #1d1f28;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 0;
    padding: 0 20px;
    &:hover {
      opacity: .8;
    }
  }

  ul.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0 15px;
      height: 64px;
      border-left: solid 1px #d7d7d7;
      &:first-child {
        // padding-left: 0;
      }
      &:last-child {
        // padding-right: 0;
        border-right: solid 1px #d7d7d7;
      }
      &:hover .dropdown-content {
        visibility: visible;
        transform: translateY(0);
      }
    }
    a {
      text-decoration: none;
      color: #808080;
      font-size: .875em;
      display: flex;
      i {
        font-size: 20px;
        margin-top: 2px;
      }
      &.active {
        font-weight: 600;
        color: #1d1f28;
      }
      &:hover {
        color: #1d1f28;
      }
    }
  }


  .dropdown-content{
    position: absolute;
    visibility: hidden;
    transform: translateY(-100%);
    left: 0;
    width: 100%;
    background: black;
    top: calc(100% + 1px);
    z-index: -1;
    padding: 10px 0 30px;
    // transition: all .3s ease;
    .container{
      background: transparent;
      padding: 0;
    }
    ul {
      padding: 0;
      list-style-type: none;
    }
    li {
      padding: 5px!important;
      height: auto!important;
      a {
        padding: 5px 10px;
        background: #transparent;
        color: white;
        border: solid 1px white;
        &:hover {
          color: black;
          background: white;
        }
      }
    }

  }
}
.promo{
  max-width: 100%;
  line-height: 0;
  img {
    max-width: 100%;
  }
  &:hover{
    opacity: .6;
    cursor: pointer;
  }


}
