.footer {
  margin-top: 50px;
  background: black;
  padding: 5px 0;
  border-top: solid 1px #d7d7d7;
  .container{
    background: transparent;
  }
  .logo {
    // text-align: center;
    a {
      text-decoration: none;
      font-family: 'Source Serif Pro', Arial, sans-serif;
      color: black;
    }
    h2 {
      margin: 0;
      line-height: 1;
      color: white;
    }
  }
  span {
    font-size: .875em;
    color: #808080;
  }
  ul.social {
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 0 10px;
  }
  li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
  }

}
