extends _layouts/home

block content
  .main-content
    .container
      .f-r
        .c-six
          .about.full
            h1
              | Ara Creative.
            span
              | Redefining the professional standard of creativity
            p
              | ARA design didirikan pada tahun 2014 dan merupakan platform untuk inovasi dan kreativitas. ARA design mengkhususkan pada desain komersial dan korporat seperti kantor, lembaga serta perorangan. Selain itu kami juga melayani kebutuhan dibidang advertising seperti identitas perusahaan, promosi dan publikasi. Dengan berbasis online dan mengutamakan kecepatan serta kualitas guna memberikan layanan yang terbaik demi kepuasan pelanggan tanpa harus datang ke lokasi.
                        
            //- p
            //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
            p
              | ARAデザインは2014年に設立され、革新と創造のプラットフォームです。 ARAの設計は、オフィス、機関、個人などの商業的および企業的設計を専門としています。 さらに、私たちは、企業のアイデンティティ、プロモーション、出版物などの広告分野のニーズにも対応しています。 オンラインベースで、スピードと品質に優先順位を付けて、場所に来ることなく顧客満足のために最高のサービスを提供します。
            .quote(person="Paul Rand")
              | Design can be art. Design can be aesthetics. Design is so simple, that's why it is so complicated.
        .four
          .bg-img#parallax
            img(src="img/city.jpg")
