extends _layouts/home

block content
  .main-content
    .container.f-r.wrap
      .product-card.six
        .image
          img(src="http://lorempixel.com/800/800/abstract/3")
            
        .content.f-ctr.f-end.f-c
          h3
            | Best Seller Product.
          a.btn.btn-ghost-black(href="#")
            | View Details
      .product-card.six
        .image
          img(src="http://lorempixel.com/800/800/abstract/2")
        .content.f-ctr.f-end.f-c
          h3
            | Inspiration.
          a.btn.btn-ghost-black(href="#")
            | View Details
      .product-card.six
        .image
          img(src="http://lorempixel.com/800/800/abstract/4")
        .content.f-ctr.f-end.f-c
          h3
            | Inspiration.
          a.btn.btn-ghost-black(href="#")
            | View Details
      .product-card.six
        .image
          img(src="http://lorempixel.com/800/800/abstract/5")
        .content.f-ctr.f-end.f-c
          h3
            | Inspiration.
          a.btn.btn-ghost-black(href="#")
            | View Details

    //- .current-promo
    //-   .container
    //-     a(href="#")
    //-       img(src="img/24-10-2017-xmas-2280x350-desktop.jpg")
    .list-product          
      .container.f-c
        .head-content
          h3
            | Trending Right Now.
        .inner
          ul.product.f-r.wrap
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/3")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
                  
              .content
                h4
                  | X-Banner
                span
                  | From Rp. 120.000

            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/4")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
                  
              .content
                h4
                  | Backdrop
                span
                  | From Rp. 60.000
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/6")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
              .content
                h4
                  | Kaos
                span
                  | From Rp. 120.000
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/5")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
              .content
                h4
                  | X-Banner
                span
                  | From Rp. 120.000
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/8")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
                  
              .content
                h4
                  | X-Banner
                span
                  | From Rp. 120.000

            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/9")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
                  
              .content
                h4
                  | Backdrop
                span
                  | From Rp. 60.000
            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/1")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
                  
              .content
                h4
                  | Kaos
                span
                  | From Rp. 120.000

            li.three.f-c
              .images
                img(src="http://lorempixel.com/800/800/abstract/10")
                .action.f-r
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | collections
                     
                  a.f-ctr.mdl.f-c(href="#")
                    i.material-icons
                      | shopping_cart
                      
              .content
                h4
                  | Brosur
                span
                  | From Rp. 10.000
  .section-about
    .container.f-r
      .image
         img(src="")
      .text
        h1
          | About Ara.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
