extends _layouts/home
block content
  .main-content

    .container
      .f-r
        .c-six.mdl
          .about
            h1
              | Ara Creative.
            span
              | Redefining the professional standard of creativity
              //- p
              //- | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
            br
            br
            a.btn.ghost-black(href="/about.html")
              | Read More
        .f-c.four
          .box-menu.h-small.full.nt
            .bg
              //- img(src="img/480x240-Discover-t.jpg")
            .content
              h3
                | Promo & Discount
              p
                | our products & services
              a.btn(href="/404.html")
                | More
          .f-r
            .box-menu.h-small.full
              .bg
                //- img(src="img/480x240-Discover-t.jpg")
              .content
                h3
                  | Discover
                p
                  | our products & services
                a.btn(href="/product.html")
                  | More
          .f-r
            .box-menu.h-big.full.no-pointer
              .bg
                //- img(src="img/240x480-paperless.jpg")
                
              .content
                h3
                  | Our Customer
                p
                  | how you can be creative with us.
                a.btn(href="/404.html")
                  | More
            .box-menu.h-big.full.no-pointer
              .bg
              .content
                h3
                  | Top Products
                p
                  | how you can be creative with us.
                a.btn(href="/404.html")
                  | More
          //- .f-r
          //-   .box-menu.h-small.full.nb
          //-     .bg
          //-     .content
          //-       h3
          //-         | Contact Us
          //-       p
          //-         | see our most selled product.
          //-       a.btn(href="/contact.html")
          //-         | More


                  
