extends _layouts/home

block head_end
	link(rel="stylesheet" href="/css/style.css")
	link(rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8") 
	link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
block header 
	include _partials/main_menu
block footer
	include _partials/footer
	
block content 
	include _content/main
	
block body_end
	script(type="text/javascript" src="/js/script.js")
