doctype html
html
  head
    title= title 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    block meta
      title Ara Creative - Design & Printing
      meta(name="description" content="Ara Design")

      meta(name="twitter:card" value="summary")

      meta(property="og:title" content="Ara Design")
      meta(property="og:type" content="website")
      meta(property="og:url" content="")
      meta(property="og:image" content="")
      meta(property="og:description" content="Ara Creative - Design and Printing")
    block head_end  
      link(rel="stylesheet" href="/css/style.css")
      link(rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?rd5re8") 
      link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
	
  body 

		
    .main-content
      .container
        .login-block
          .f-c
            h1.logo Ara Creative. 
            
            .form-input
              i.material-icons person
              input(type="text" placeholder="Username")
            .form-input
              i.material-icons vpn_key
              input(type="password" placeholder="Password")    
            
            a.btn.ghost-black(href="#") Sign In
    
    .footer
      .container.f-r.btw  
        .f-c.f-ctr
          span 
           | Copyright ©Ara Design 2017
        ul.social.f-r
          li 
            a(href="#")
              i.socicon-facebook
          li 
            a(href="https://www.instagram.com/ara.media/?hl=en")
              i.socicon-instagram
          li 
            a(href="#")
              i.socicon-twitter
        


    script(type="text/javascript" src="/js/script.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQgxfNSekdsJLW7iJSemKkGptQmuERfVA&extension=.js")
    script(type="text/javascript" src="https://cdn.mapkit.io/v1/infobox.js")
    link(rel="stylesheet" href="https://cdn.mapkit.io/v1/infobox.css")
    script(type="text/javascript" src="/js/maps.js")
    
