.footer
  .container.f-r.btw  
    .f-c.f-ctr
      .logo
        a(href="#")
          h2
            | Ara.
      span 
       | Copyright ©Ara Design 2017
    ul.social.f-r
      li 
        a(href="#")
          i.socicon-facebook
      li 
        a(href="#")
          i.socicon-instagram
      li 
        a(href="#")
          i.socicon-twitter
    
