.footer
  .container.f-r.btw  
    .f-c.f-ctr
      span 
       | Copyright ©Ara Design 2017
    ul.social.f-r
      li 
        a(href="#")
          i.socicon-facebook
      li 
        a(href="https://www.instagram.com/ara.media/?hl=en")
          i.socicon-instagram
      li 
        a(href="#")
          i.socicon-twitter
    
