.main-header
  .container.f-r.mdl.btw

    ul.menu
      li.mdl
        a.active(href="/index.html") 
          | Home
      li.mdl
        a(href="/product.html")
          | Top Product
      li.mdl
        a(href="#")
          | Product
          //- i.material-icons keyboard_arrow_down
        //- .dropdown-content
        //-   .container
        //-     ul.f-r.wrap
        //-       each link in product
        //-         li
        //-           a(href="#")= link      
      li.mdl
        a(href="#")
          | About
      li.mdl
        a(href="#")
          | Contact
    .mdl
      .logo
        a(href="#")
          //- img(src="img/logo.png")
          h2
            | Ara Creative.

//- .promo
//-   img(src="img/utg-minis@2-desktop.jpg")
