.main-header
  .container.f-r.mdl.btw
    .mdl
      .logo
        a(href="#")
          //- img(src="img/logo.png")
          h2
            | Ara.
    ul.menu
      li.mdl
        a.active(href="#") 
          | Home
      li.mdl
        a(href="#")
          | Top Product
      li.mdl
        a(href="#")
          | Product
          i.material-icons keyboard_arrow_down
        .dropdown-content
          .container
            ul.f-r.wrap
              each link in product
                li
                  a(href="#")= link      
      li.mdl
        a(href="#")
          | Our Customer      
      li.mdl
        a(href="#")
          | About
      li.mdl
        a(href="#")
          | Contact

      
.promo
  img(src="img/utg-minis@2-desktop.jpg")
