.main-header
  .container.f-r.mdl.btw

    ul.menu
      
      li.mdl
        a(href="/") 
          | Home
      li.mdl
        a(href="/product.html")
          | Products
      li.mdl
        a(href="/pricelist.html")
          | Pricelist
      li.mdl
        a(href="/about.html")
          | About
      li.mdl
        a(href="/contact.html")
          | Contact
    .mdl
      .logo
        a(href="/")
          //- img(src="img/logo.png")
          h2
            | Ara Creative.

//- .promo
//-   img(src="img/utg-minis@2-desktop.jpg")
