/*	FONTS
------------------------*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro|Roboto:100,300,400,700);

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Roboto', Arial, sans-serif, ;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
}

img{
  width: 100%;
}

$primary : #1d1f28;
$sub-1 : #8cc73f;
/* ------ Normalize ----- */
::selection {
  background: $primary; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
  color: white;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: auto;
  // background: white;
  padding: 0 20px;
  z-index: 2;
  position: relative;
}
.f-c {
  display: flex;
  flex-direction: column;
}
.f-r {
  display: flex;
  flex-direction: row;
}
.mdl {
  display: flex;
  align-items: center;
}
.btw{
  display: flex;
  justify-content: space-between;
}
.f-ctr{
  display: flex;
  justify-content: center;
}
.f-end{
  display: flex;
  align-items: flex-end;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.six {
  width: 50%;
}
.three {
  width: 25%;
}
.two{
  width: 20%;
}
.four{
  width: 40%;
}
.c-six{
  width: 60%;
}
.c-full {
  width: 100%;
  max-width: 100%!important;
}

.btn{
  padding: 12px 50px;
  text-decoration: none;
  background: transparent;
  border: solid 2px white;
  font-size: 1.3em;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 5px 0;
  &:hover{
    background: #eaeaea;
    color: #333;
  }
  &.ghost-black {
    border-color: #1d1f28;
    color: #1d1f28;
  }
}
