/*	FONTS
------------------------*/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro|Roboto:100,300,400,700);

/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

body {
  font-family: 'Roboto', Arial, sans-serif, ;
  color: #555;
  font-size: 100%;
  line-height: 1.5;
  background-color: #fff;
  margin: 0;
}

img{
  width: 100%;
}

$primary : #1d1f28;
$sub-1 : #03a2e0;
/* ------ Normalize ----- */
::selection {
  background: $primary; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $primary; /* Gecko Browsers */
  color: white;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container{
  max-width: 1200px;
  margin: auto;
  // background: white;
  padding: 0 20px;
  z-index: 2;
  position: relative;
  &.blur{
    filter: blur(1px);
  }
}
.f-c {
  display: flex;
  flex-direction: column;
}
.f-r {
  display: flex;
  flex-direction: row;
}
.mdl {
  display: flex;
  align-items: center;
}
.btw{
  display: flex;
  justify-content: space-between;
}
.f-ctr{
  display: flex;
  justify-content: center;
}
.f-end{
  display: flex;
  align-items: flex-end;
}
.wrap{
  display: flex;
  flex-wrap: wrap;
}
.full-height{
  min-height: 88vh;
}
.six {
  width: 50%;
}
.three {
  width: 25%;
}
.two{
  width: 20%;
}
.four{
  width: 40%;
}
.c-six{
  width: 60%;
  min-height: 88vh;
}
.c-full {
  width: 100%;
  max-width: 100%!important;
}
a.insert-link{
  color: #03a2e0;
}

.btn{
  padding: 12px 50px;
  text-decoration: none;
  background: transparent;
  border: solid 2px white;
  font-size: 1.3em;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 5px 0;
  &:hover{
    background: #eaeaea;
    color: #333;
  }
  &.ghost-black {
    border-color: #1d1f28;
    color: #1d1f28;
  }
}

.table{
  margin-bottom: 100px;
  table {
    width: 100%;
    border: none;
  }
  thead {
    border: none;

    tr td{
      padding: 20px 0;
      font-family: "Roboto";
      font-weight: 600;
      color: $primary;
      border: none;
      border-bottom: solid 3px $primary
    }
    tr {
      border: none;

    }
  }
  tbody {
    border: none;

    tr td {
      border: none;

      padding: 15px 0;
      font-family: "Roboto";
      font-size: .938em;
      border-bottom: solid 1px #d7d7d7;
      &#price {
        font-weight: 600;
      }
    }

  }
}

.modal-ara{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(white, .8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .1s ease;
  &.active {
    visibility: visible;
    opacity: 1;
    & > .content-modal{
      opacity: 1;
      transform: none;
    }
  }
  .content-modal{
    max-width: 800px;
    width: 100%;
    background: white;
    border: solid 1px #d7d7d7;
    padding: 30px 40px;
    position: relative;
    // box-shadow: 3px 16px 44px 0px rgba(0,0,0, .2);
    opacity: 0;
    transform: translateY(10%);
    transition: all .3s ease;
    transition-delay: .2s;
    &.medium{
      max-width: 600px;
    }
    .close-btn {
      position: absolute;
      right: -32px;
      top: 0;
      background: $primary;
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      i {
        font-size: 28px;
        color: white;
        display: flex;

      }
    }

  }
}
.form-input {
  position: relative;
  margin: 10px 0;
  i{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 11px;
    margin-left: 15px;
  }
}
input[type="text"]{
  width: 100%;
  padding: 13px 45px;
  font-family: "Roboto";
  font-size: 14px;
  border: solid 1px #d7d7d7;
  &:focus {
    outline: none;
    border: solid 1px $sub-1;
  }
}
textarea {
  padding: 13px 45px;
  font-family: "Roboto";
  font-size: 14px;
  width: 100%;
  border: solid 1px #d7d7d7;
  resize: none;
  &:focus {
    outline: none;
    border: solid 1px $sub-1;
  }
}
